* {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1350px;
  margin: 0 auto;
  background: 0.6px solid rgb(219, 205, 205);
}
