.slider__mini {
  max-width: 1600px;
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
}

.slider__mini-img {
  width: 160px;
  height: 160px;
}

.slider__block-left-overlay {
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
  justify-content: flex-end;
}

.slider__block-left-img {
  width: 260px;
  height: 160px;
  gap: 30px;
  border: 3px solid black;
}
.backmost {
  width: 130px;
}
